@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');
/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #0E0448;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%230E0448' cx='50' cy='0' r='50'/%3E%3Cg fill='%23130548' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23170649' cx='50' cy='100' r='50'/%3E%3Cg fill='%231c0749' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%2320084a' cx='50' cy='200' r='50'/%3E%3Cg fill='%23250a4a' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23290b4b' cx='50' cy='300' r='50'/%3E%3Cg fill='%232e0c4b' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23320d4c' cx='50' cy='400' r='50'/%3E%3Cg fill='%23370e4c' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%233b0f4d' cx='50' cy='500' r='50'/%3E%3Cg fill='%2340104d' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%2344114d' cx='50' cy='600' r='50'/%3E%3Cg fill='%2349124e' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%234d134e' cx='50' cy='700' r='50'/%3E%3Cg fill='%2352154f' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%2356164f' cx='50' cy='800' r='50'/%3E%3Cg fill='%235b1750' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f1850' cx='50' cy='900' r='50'/%3E%3Cg fill='%23641951' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23681A51' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;

}



/* HEADER COMPONENT */
.navBar{
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 60px;
    height: 100vh; 
    background-image: linear-gradient(to bottom right , #763388, #2f183200);
    box-shadow: 0px 0px 15px #000000;
    z-index: 20;
}

.navBar__menu{
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    height: 80%;
}

.navBar__menu--icons, .navBar__menu--icons a{
    color: #f5f5f5;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}

.navBar__menu--icons:hover{
    cursor: pointer;
    transition: .3s;
    filter: drop-shadow(1px 2px 2px #f6dafab3);
}


/* HOME PAGE */

.home__content{
    width: 100%;
    min-height: 100vh;
    display: flex;
}


/* MAIN COMPONENT */

.main__container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}



.main__button{
    position: absolute;
    width: 80px;
    top: 15px;
    right: 80px;
}

.main__content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;

}

.main__tittle{
    width: 100%; 
    color: rgb(35, 29, 86);

}

.main__tittle--clicked{
    color: rgb(243, 243, 243);
    text-shadow: 0px 0px 5px rgb(216, 210, 255);
    transition-duration: .2s ;

}


.main__tittle--author{
    font-family: 'Raleway', sans-serif;
    font-size: 5rem;
    display: block;
    margin: 1rem 0 .5rem 0 ;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.339));
    transition-duration: .2s ;
}


.main__tittle--welcome{
    color: rgb(35, 29, 86);
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.639));
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    transition-duration: .4s ;
}

.main__tittle--welcome--clicked{
    color: rgb(243, 243, 243);
    text-shadow: 0px 0px 5px rgb(216, 210, 255);
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    transition-duration: .4s ;
}


.main__image{
    display: flex;
    justify-content: center;
    margin: 4rem 0;
}

.main__image > img{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    filter: grayscale(1);
    opacity: .1;
    border-radius: 100px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.639));
    transition-duration: .4s ;
}

.main__image--clicked > img{
    display: flex;
    justify-content: center;
    filter: none;
    opacity: 1;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.639));
    transition-duration: .4s ;
}

.callToAction__container{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 4rem;
  margin: 1rem 0;
}

.scroll-down{
  margin-top: 1.5rem;
  display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-down svg{
    font-size: 50px;
    color: white;

}


.scroll-down--clicked svg{
    color: white;
    font-size: 50px;
    cursor: pointer;
    animation: arrow 6s ease .5s infinite normal forwards;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.639));
}


@keyframes arrow {
    0%,
    100% {
      transform: translateY(0);
    }
  
    10%,
    30%,
    50%,
    70% {
      transform: translateY(-8px);
    }
  
    20%,
    40%,
    60% {
      transform: translateY(8px);
    }
  
    80% {
      transform: translateY(6.4px);
    }
  
    90% {
      transform: translateY(-6.4px);
    }
  }

  
/* BLOB ANIMATION */

.blob__animation{
    position: absolute;
    width: 300px;
}


/* ABOUT ME PAGE */
.aboutMe__container{
  margin-top: 2rem;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    color: #f5f5f5;
}

.aboutMe__container-onetwo{
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.aboutMe__container-one{
  height: 50vh;
  width: 50%;
  display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: #f5f5f5;
}

.aboutMe__container-two{
  margin-top: 3rem;
  width: 50%;
  height: 50vh;
  display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: #f5f5f5;
}


.aboutMe__container-three{
  margin: 2.5rem 0 3rem 0;
  padding-left: 4rem;
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
  text-align: justify;
  text-indent: 1rem;
  line-height: 1.5;
  
}

.aboutMe__container-three p{
  padding: .5rem;
}

.aboutMe__container h2{
    text-transform: uppercase;
}


.buttons__aboutMe{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.buttons__aboutMe div{
  cursor: pointer;
  font-size: 12px;
  padding: .2rem;
  border-radius: 5px;
}

.buttons__aboutMe div:hover{
  background-color: #ffffff2d;

}




.slider__content{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.slider{
  margin: 1rem 0 ;

    width: 25rem;
    height: 20rem;
    overflow: hidden;
    border-radius: 10px
}

.img__container{
    width: 100%;
    height: 100%;
    background-color: #7564753b;
}

.slide_active img{
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    background-color: #76338876;
}

.slide_active p {
    color: white;
    text-transform: uppercase;
    text-align: center;

}

.slide_active{
    width: 100%;
    height: 100%;
    opacity: 1;
    transition-duration: 1s;
}

.slide_inactive{
    opacity: 0;
    transition-duration: 1s ease;
}

.left-arrow svg{
    margin: 0 1rem 0 0;
    cursor: pointer;
    filter: drop-shadow(2px 2px 2px rgb(27, 13, 50))

}

.right-arrow svg{
    margin: 0 0 0 1rem;
    cursor: pointer;
    filter: drop-shadow(2px 2px 2px rgb(27, 13, 50))
}



/* CARTONNS COMPONENT */
.slider__content--cartoon{
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.cartoons__slider{
  width: 25rem;
  min-height: 27rem;
  overflow: hidden;
  border-radius: 10px
}

.cartoons__container{
  width: 100%;
  height: 100%;
}


.slide_active--cartooon{
  width: 100%;
  height: 100%;
  opacity: 1;
  transition-duration: 1s;
  overflow: visible;

}

.slide_active--cartooon img{
  position: relative;
  bottom: -60px;
  width: 15rem;
  height: 15rem;
  object-fit: contain;
  animation: floating 2s linear 0s infinite normal forwards;
}

@keyframes floating {
  0%{
      transform: translate(0px, 0px);
      filter: drop-shadow(0px 2px 1px #1b0a1bcb);
  }
  25%{
       transform: translate(0px, -3px);
       filter: drop-shadow(0px 5px 5px #1b0a1bcb)
  }
  50%{
      transform: translate(0px, -5px);
      filter: drop-shadow(1px 15px 11px #1b0a1bcb);
  }
  75% {
     transform: translate(0px, -3px);
      filter: drop-shadow(0px 5px 5px #1b0a1bcb);
  } 
  100%{
      transform: translate(0px, 0px);
      filter: drop-shadow(0px 1px 1px #1b0a1bcb);
  }
}

.slide_inactive--cartooon{
  opacity: 0;
  transition-duration: 1s ease;
}

.left-arrow--cartoon svg{
  cursor: pointer;
  filter: drop-shadow(2px 2px 2px rgb(27, 13, 50))

}

.right-arrow--cartoon svg{
  cursor: pointer;
  filter: drop-shadow(2px 2px 2px rgb(27, 13, 50))
}

.card__container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.cartoon__text{
  padding: 3.5rem .5rem 0 .5rem;
  min-width: 25rem;
  min-height: 10rem;
  border-radius: 10px;
  background-color: #7564753b;
  z-index: -1;
  overflow: hidden;
  box-shadow: 2px 2px 5px #250f25;
  color: white;
}

.cartoon__tittle{
  text-align: center;
  text-transform: uppercase;
  padding-bottom: .5rem;
}

.cartoon__bodyText {
  text-align: center ;
}


/* SKILLS ME PAGE */
.skills__container{
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding:3rem;
}

.skills__text{
  width: 40%;
  min-height: 40%;
  color: white;
  text-align: justify;
  line-height: 1.5;
}

.skills__tittle{
  text-transform: uppercase;
  text-align: center;
}


.skills__icons{
  background-color: #7564753b;
  box-shadow: 2px 2px 5px #250f25;
  width: 30%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.skills__icons img, .skills__icons > svg{
    width: 60px;
    height: 60px;
    margin: 1rem ;
}


.projects-container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.projects__image{
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  font-size: 12px;
}

.projects__image img{
  width: 50px;
}


.certification__image{
  text-align: center;
  border-radius: 10px;
  padding: 1rem;
  font-size: 12px;

}

.certification__image img{
  width: 60px;
}


/* CONTACT ME PAGE */
.contact__container{
  width: 100%;
  min-height: 70vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding:3rem;
}

.contact__form{
  background-color: #7564753b;
  box-shadow: 2px 2px 5px #250f25;
  width: 20rem;
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.contact__text{
  width: 40%;
  min-height: 40%;
  color: white;
  line-height: 1.5;
  text-align: justify;
}
.contact__tittle{
  text-align: center;
}

.contact__text ul{
  padding: .5rem;
}

.form__container{
  padding: .5rem;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.form__container p{
  color: white;
  text-transform: uppercase;
}


form{
  padding: 0 1rem 1rem 1rem;
  width: 80%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

form label{
  color: white;
  align-self: flex-start;
  padding: 1rem 0 .3rem 0;
}

form input, textarea{
  width: 15rem;
  margin: .2rem;
  padding: .3rem;
  color: #ffffff;
  border: unset;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.258);
  box-shadow: 1px 1px 5px #0000006e;
}

form > textarea{
  min-width: 15rem;
  max-width: 15rem;
  min-height: 5rem;
  max-height: 5rem;
}

form > input:focus-visible{
  background-color: rgba(46, 46, 46, 0.197) !important;
  outline: 1px solid rgb(255, 255, 255);
}


form > textarea:focus-visible{
  background-color: rgba(46, 46, 46, 0.197);
  outline: 1px solid rgb(255, 255, 255);

}

.send-button{
  margin-top: .5rem;
  display: flex;
  flex-flow:  row nowrap;
  align-items: center;
  justify-content: space-between;
  text-align: start;
  width: 6rem;
  border-radius: 10px;
  text-transform: uppercase;
  padding: .5rem;
  color: white;
  background-color: #876083;
  border: unset;
  box-shadow: 1px 1px 5px #0000006e;

}

.send-button svg{
  font-size: 12px;
}

.send-button:hover{
  transition: .3s;
  background-color: #704c7b;
  cursor: pointer;
}


/* FOOTER COMPONENT */
.footer__container{
  min-width: 100%;
  min-height: 20vh;
  background: linear-gradient(180deg, rgba(45, 24, 47,0) 0%, rgba(45, 24, 47, 0.76) 42%, rgba(45, 24, 47,0.9951330874146533) 80%);  z-index: -1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}


.footer__icons{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  min-width: 60vw;
}

.footer__icons svg{
  color: rgb(255, 255, 255);
  font-size: 35px;
}

.footer__text{
  margin: 1rem 0 0 0;
  color: rgba(255, 255, 255, 0.775);
  text-align: center;
}


.footer__text p{
  padding-top: .3rem
}

.button__top{
  position: absolute;
  right: 100px;
  width:  20px;
  color: white;
  cursor: pointer;
  font-size: 25px;
}

.button__top svg{
  font-size: 25px;
}

.button__top svg:hover{
  transition: .3s;
  font-size: 30px;
}

/* CALL TO ACTION COMPONENT */

.action__container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 40%;
  width: 6rem;
  height: 3rem;
  filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.4));
  background: linear-gradient(355deg, #232323 0%, rgb(0, 0, 0) 100%);
}

.action__container:active{
  transition: .1s;
  height: 2.5rem;
}

.button__container{
    width: 6rem;
    perspective: 142px;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: linear-gradient(355deg, #373737 0%, rgb(0, 0, 0) 100%);     
    border-radius: 50%;
}

.button__container img{
    width:  2.5rem;
    height: 2rem;
    padding: .2rem;
    border-radius: 60px;
    transform: rotateX(56deg) rotateY(0deg);
    transform-style: preserve-3d;
}

/* UFO COMPONENT */
.ufo-image{
  width: 50px;
  animation: floating 2.5s linear 0s infinite normal forwards;
}

.ufo-image-out{
  width: 50px;
  animation: out 2s ease-in-out 0s 1 alternate-reverse none;
}


@keyframes out {
  0% {
    transform: scale(0);
    transform-origin: 100% 0%;
  }

  100% {
    transform: scale(1);
    transform-origin: 100% 0%;
  }
}

/* SCROLL BAR */

::-webkit-scrollbar{
  width: 12px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
  background-color: #311b42;
}
::-webkit-scrollbar-thumb{
  border-radius: 1px;
  background-color: #612d7a;
  background-image: -webkit-linear-gradient(90deg,transparent,#581b75 50%,transparent,transparent)
}


.astronaut--clicked{
  position: absolute;
  top: 70vh;
  left: 3vw;
  width: 150px;
  filter: drop-shadow(2px 2px 5px black);
  z-index: 10;
  transition-duration: .4s ;

}

.astronaut{
  position: absolute;
  top: 70vh;
  left: 3vw;
  width: 150px;
  filter: none;
  opacity: .1;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.639));
  transition-duration: .4s ;
  z-index: -10;

}

.planet{
  position: absolute;
  top: 2vh;
  right: 3vw;
  width: 150px;
  filter: drop-shadow(2px 2px 5px black);
  opacity: .1;
  transition-duration: .4s ;
}



.planet--clicked{
  position: absolute;
  top: 2vh;
  right: 3vw;
  width: 150px;
  filter: drop-shadow(5px 5px 5px black);
  transition-duration: .4s ;
}


/* LANGUAGE COMPONENT */
.language__container{
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  width: 3.5rem;
  height: 2rem;
}

.language__content{
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border: 1px solid #ffffff58;
  background-color: #311b42;
}

.language__container img{
  padding: 2px;
  width: 25px;
}

.language-on{
  opacity: .8;
}

.language-off{
  opacity: .3;
}


/* MEDIA QUERYS */

/* MOBILE BREAKPOINTS */
@media screen and (max-width: 480px) {

  .main__container{
    height: 100%;
  }
  
  .astronaut{
    left: 2vw;
    width: 80px
  }

  .astronaut--clicked{
    left: 2vw;
    width: 80px
  }

  .main__content{
    width: 100%;
  }

  .main__tittle--author{
    margin-top: 60px;
    font-size: 3.5rem;
  }


  .planet{
    width: 60px;
    top: 5%;
    right: 5%;
  }

  .planet--clicked{
    width: 60px;
    top: 5%;
    right: 5%;
  }

  .main__image{
    margin: 2rem 0;
  }

  .main__image > img {
    width: 10rem;
    height: 10rem;
  }

  .action__container{
    border-radius: 50% 50% 40% 40%;
    width: 4rem;
  }

  .scroll-down--clicked svg{
    font-size: 30px;
  }


  .aboutMe__container-three{
    padding: unset;
    width: 90%;
    margin-bottom: 1rem;
  }

  .cartoons__slider{
    width: 15rem;
  }

  .aboutMe__container h2{
    font-size: 18px;
    text-align: center;
  }

  .aboutMe__container-two{
    margin-bottom: 6vh;
    transform:  unset;
  }
  

  .cartoon__bodyText{
    padding-bottom: 5px;
  }

  .cartoon__text{
    min-width: unset;
    width: 100%;
  }

  .aboutMe__container-one{
    transform: unset;
    margin-bottom: 2rem
  }

  .slider{
    width: 15rem;
    height: 15rem;
  }

  .right-arrow svg, .left-arrow svg{
    margin: unset;
  }

  .toc__button{
    display: none;
  }

  .skills__container{
    flex-flow: column nowrap;
    padding: unset;
  }

  .skills__text{
    width: 90%;
  }

  .projects-container{
    margin-bottom: 1rem;
    justify-content: center;  
  }

  .skills__icons{
    padding:.5rem ;
    width: 90%;
  }

  .skills__icons img{
    width: 40px;
    height: 40px;
    margin: 0.7rem;
  }

  .contact__form{
    width: 90%;
  }

  .contact__container{
    flex-flow: row wrap;
    padding: unset;
    margin: .5rem 0;
  }

  .contact__text{
    width: 90%;
    margin: 1rem 0;
  }

  .footer__icons{
    width: 80%;
  }

  .footer__icons svg{
    font-size: 20px;
  }

  .footer__text p{
    padding: 0 .2rem ;
  }

  .button__top{
    position: unset;
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0.5rem 0;
  }


  .ufo-image{
    position: unset;
    width: 50px;
    top: unset;
    right: unset;
  }

  .navBar__menuIcon{
    margin: 1rem;
    color: white;
    position: fixed;
    display: inline-block;
  }

  

  .navBarMobile{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 60px;
    z-index: 100;
    animation: nav 1s ease-in-out 0s 1 alternate-reverse both;
    }

    
  
  .navBarMobile_icons{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  .navBar__menu--icons{
    padding: .5rem;
  }

  .navBar-closed{
    position: absolute;
    top: 0;
    left: -60px;
  }

  
  .navBarMobile_icons{
    width: 100%;
  }
 
  .navBar__open{
    margin: 1rem;
    color: white;
    position: fixed;
    display: inline-block;
    font-size: 25px;
  }

  @keyframes nav {
    0% {
      transform: translateX(0); 
    }
  
    100% {
      transform: translateX(-100%);
    }
  }

  .language__container{
    width: unset;
    height: unset;
    z-index: 101;
  }

  .language__container img{
    padding: 2px;
    width: 20px;
  }

  .scroll-down{
    margin-top: 2rem;
  }

  .scroll-down svg{
    font-size: 30px
  }

}

/* IPAD, TABLETS BRECKPOINTS */

@media screen and (min-width: 481px) and (max-width: 768px)  {
  .home__content{
    align-items: center;
  }

  .main__container{
    height: 100%;
  }
  
  .astronaut{
    top: 55%;
    left: 5px;
    width: 90px
  }

  .astronaut--clicked{
    top: 55%;
    left: 5px;
    width: 90px
  }

  .main__content{
    width: 100%;
  }

  .text__content{
    width: 70%;
  }

  .main__tittle {
    width: 70%;
  }

  .main__tittle--author{
    font-size: 3.5rem;
  }


  .planet{
    width: 60px;
    top: 5%;
    right: 5%;
  }

  .planet--clicked{
    width: 60px;
    top: 5%;
    right: 5%;
  }

  .main__image{
    margin: 2rem 0;
  }

  .main__image > img {
    width: 10rem;
    height: 10rem;
  }
  
  .action__container{
    border-radius: 50% 50% 40% 40%;
  }
  
  .scroll-down svg{
    margin-top: 2rem;
    font-size: 30px
  }
  
  .scroll-down--clicked svg{
    font-size: 30px;
  }

  .aboutMe__container-onetwo{
    margin: .5rem 0;
  }

  .aboutMe__container-three{
    padding: unset;
    width: 80%;
    margin: 1rem 0;
  }

  .cartoons__slider{
    width: 20rem;
  }

  .aboutMe__container h2{
    font-size: 18px;
    text-align: center;
  }

  .aboutMe__container-two{
    margin-bottom: 6vh;
    transform:  unset;
  }

  .cartoon__bodyText{
    padding-bottom: 5px;
  }

  .cartoon__text{
    min-width: unset;
    width: 100%;
  }

  .aboutMe__container-one{
    transform: unset;
    margin-bottom: 2rem
  }

  .slider{
    width: 20rem;
    height: 15rem;
  }

  .right-arrow svg, .left-arrow svg{
    margin: unset;
  }

  .toc__button{
    display: none;
  }

  .skills__container{
    flex-flow: column nowrap;
    padding: unset;
  }

  .skills__text{
    padding: .5rem;
    width: 80%;
  }

  .projects-container{
    margin-bottom: 1rem;
    justify-content: center;  
  }

  .skills__icons{
    padding: .5rem;
    width: 80%;
  }

  .skills__icons img{
    width: 50px;
    height: 50px;
    margin: 1rem;
  }


  .contact__form{
    width: unset;
  }

  form{
    width: unset;
  }

  .contact__container{
    flex-flow: column nowrap;
    padding: unset;
    margin: .5rem 0;
  }

  .contact__text{
    width: 80%;
    margin: 1rem 0;
  }

  .footer__icons{
    width: 80%;
  }

  .footer__icons svg{
    font-size: 30px;
  }

  .footer__text p{
    padding: 0 .2rem ;
  }

  .button__top{
    position: unset;
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0.5rem 0;
  }


  .ufo-image{
    width: 50px;
  }
  
  .navBar__menuIcon{
    margin: 1rem;
    color: white;
    position: fixed;
    width: 60px;
    height: 60px;
  }

  .navBar__open {
    margin: 1rem;
    color: white;
    position: fixed;
    display: inline-block;
    font-size: 25px;
}

.navBarMobile{
  animation: nav 1s ease-in-out 0s 1 alternate-reverse both;
}
  @keyframes nav {
    0% {
      transform: translateX(0); 
    }

    100% {
      transform: translateX(-100%);
    }
  }

}

@media screen and (min-width: 768px) and (max-width: 1024px)  {
  .home__content{
    align-items: center;
  }

  .main__container{
    height: 100%;
  }
  
  .astronaut{
    top: 55%;
    left: 5px;
    width: 120px
  }

  .astronaut--clicked{
    top: 55%;
    left: 5px;
    width: 120px
  }

  .main__content{
    width: 100%;
  }

  .text__content{
    width: 70%;
  }

  .main__tittle {
    width: 70%;
  }

  .main__tittle--author{
    font-size: 3.5rem;
  }


  .planet{
    width: 80px;
    top: 5%;
    right: 5%;
  }

  .planet--clicked{
    width: 80px;
    top: 5%;
    right: 5%;
  }

  .main__image{
    margin: 2rem 0;
  }

  .main__image > img {
    width: 15rem;
    height: 15rem;
  }
  
  .action__container{
    border-radius: 50% 50% 40% 40%;
  }
  
  .scroll-down svg{
    margin-top: 2rem;
  }

  .aboutMe__container-three{
    padding: unset;
    width: 80%;
    margin: unset;
  }

  .cartoons__slider{
    width: 20rem;
  }

  .aboutMe__container h2{
    font-size: 18px;
    text-align: center;
  }

  .aboutMe__container-two{
    margin-bottom: 6vh;
    transform:  unset;
  }

  .cartoon__bodyText{
    padding-bottom: 5px;
  }

  .cartoon__text{
    min-width: unset;
    width: 100%;
  }


  .aboutMe__container-one{
    transform: unset;
    margin-top: 2rem
  }

  .slider{
    width: 20rem;
    height: 15rem;
  }

  .right-arrow svg, .left-arrow svg{
    margin: unset;
  }

  .toc__button{
    display: none;
  }

  .skills__container{
    flex-flow: column nowrap;
    padding: unset;
  }

  .skills__text{
    padding: .5rem;
    width: 80%;
  }

  .projects-container{
    margin-bottom: 1rem;
    justify-content: center;  
  }

  .skills__icons{
    padding: .5rem;
    width: 80%;
  }

  .skills__icons img{
    width: 55px;
    height: 55px;
    margin: 1rem;
  }


  .contact__form{
    width: unset;
  }

  form{
    width: unset;
  }

  .contact__container{
    flex-flow: column nowrap;
    padding: unset;
    margin: .5rem 0;
  }

  .contact__text{
    width: 80%;
  }

  .footer__icons{
    width: 80%;
  }

  .footer__icons svg{
    font-size: 35px;
  }

  .footer__text p{
    padding: 0 .2rem ;
  }

  .button__top{
    position: unset;
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0.5rem 0;
  }


  .ufo-image{
    width: 50px;
  }
  
  .navBar__menuIcon{
    margin: 1rem;
    color: white;
    position: fixed;
    width: 60px;
    height: 60px;
  }

  .navBar__open {
    margin: 1rem;
    color: white;
    position: fixed;
    display: inline-block;
    font-size: 25px;
}

.navBarMobile{
  animation: nav 1s ease-in-out 0s 1 alternate-reverse both;
}
  @keyframes nav {
    0% {
      transform: translateX(0); 
    }

    100% {
      transform: translateX(-100%);
    }
  }

  .certification__image img{
    width: 80px
  }

  .projects__image img{
    width: 60px;
  }

}

@media screen and (min-width: 1024px) and (max-width: 1200px)  {

  .home__content{
    align-items: center;
  }

  .main__container{
    height: 100%;
  }
  
  .astronaut{
    top: 55%;
    left: 5px;
    width: 120px
  }

  .astronaut--clicked{
    top: 55%;
    left: 5px;
    width: 120px
  }

  .main__content{
    width: 100%;
  }

  .text__content{
    width: 70%;
  }

  .main__tittle {
    width: 70%;
  }

  .main__tittle--author{
    font-size: 3.5rem;
  }


  .planet{
    width: 80px;
    top: 5%;
    right: 5%;
  }

  .planet--clicked{
    width: 80px;
    top: 5%;
    right: 5%;
  }

  .main__image{
    margin: 2rem 0;
  }

  .main__image > img {
    width: 15rem;
    height: 15rem;
  }
  
  .action__container{
    border-radius: 50% 50% 40% 40%;
  }
  
  .scroll-down svg{
    margin-top: 2rem;
  }

  .aboutMe__container-three{
    padding: unset;
    width: 80%;
    margin: unset;
  }

  .cartoons__slider{
    width: 20rem;
  }

  .aboutMe__container h2{
    font-size: 18px;
    text-align: center;
  }

  .aboutMe__container-onetwo{
    flex-flow: row nowrap;
    padding: 0 60px;
    margin-bottom: 1rem;
  }
  .aboutMe__container-three{
    margin: 0 1rem 0 0;
  }

  .aboutMe__container-two{
    margin-bottom: 6vh;
    transform:  unset;
  }

  .cartoon__bodyText{
    padding-bottom: 5px;
  }

  .cartoon__text{
    min-width: unset;
    width: 100%;
  }

  .aboutMe__container-one{
    transform: unset;
    margin-bottom: 2rem
  }

  .slider{
    width: 20rem;
    height: 15rem;
  }

  .right-arrow svg, .left-arrow svg{
    margin: unset;
  }

  .toc__button{
    display: none;
  }

  .skills__container{
    flex-flow: column nowrap;
    padding: unset;
  }

  .skills__text{
    padding: 0 60px;
    width: 100%;
  }

  .skills__text p{
    padding: .5rem;
  }

  .projects-container{
    margin-bottom: 1rem;
    justify-content: center;  
  }

  .skills__icons{
    padding: 0.5rem;
    width: calc(100% - 120px);
  }

  .skills__icons img{
    width: 55px;
    height: 55px;
    margin: 1rem;
  }


  .contact__form{
    margin: .5rem 0;
    width: 50%;
  }

  form{
    width: unset;
  }

  .contact__container{
    flex-flow: row nowrap;
    padding: 0 60px;
    margin: 1rem 0 0 0;
  }

  .contact__text{
    width: 80%;
  }

  .footer__icons{
    width: 80%;
  }

  .footer__icons svg{
    font-size: 35px;
  }

  .footer__text p{
    padding: 0 .2rem ;
  }

  .button__top{
    position: unset;
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0.5rem 0;
  }


  .ufo-image{
    width: 50px;
  }
  
  .navBar__menuIcon{
    margin: 1rem;
    color: white;
    position: fixed;
    width: 60px;
    height: 60px;
  }

  .navBar__open {
    margin: 1rem;
    color: white;
    position: fixed;
    display: inline-block;
    font-size: 25px;
}

.navBarMobile{
  animation: nav 1s ease-in-out 0s 1 alternate-reverse both;
}
  @keyframes nav {
    0% {
      transform: translateX(0); 
    }

    100% {
      transform: translateX(-100%);
    }
  }

  .certification__image img{
    width: 80px
  }

  .projects__image img{
    width: 60px;
  }

}