@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');
/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */


:root{
    --width-navBar: 60px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #0E0448;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%230E0448' cx='50' cy='0' r='50'/%3E%3Cg fill='%23130548' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23170649' cx='50' cy='100' r='50'/%3E%3Cg fill='%231c0749' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%2320084a' cx='50' cy='200' r='50'/%3E%3Cg fill='%23250a4a' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23290b4b' cx='50' cy='300' r='50'/%3E%3Cg fill='%232e0c4b' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23320d4c' cx='50' cy='400' r='50'/%3E%3Cg fill='%23370e4c' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%233b0f4d' cx='50' cy='500' r='50'/%3E%3Cg fill='%2340104d' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%2344114d' cx='50' cy='600' r='50'/%3E%3Cg fill='%2349124e' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%234d134e' cx='50' cy='700' r='50'/%3E%3Cg fill='%2352154f' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%2356164f' cx='50' cy='800' r='50'/%3E%3Cg fill='%235b1750' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f1850' cx='50' cy='900' r='50'/%3E%3Cg fill='%23641951' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23681A51' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;

}

/* HEADER COMPONENT */
.navBar{
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: var(--width-navBar);
    height: 100vh; 
    background-image: linear-gradient(to bottom right , #763388, #2f183200);
    box-shadow: 0px 0px 15px #000000;
}

.navBar__menu{
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    height: 80%;
}

.navBar__menu--icons, .navBar__menu--icons a{
    color: #f5f5f5;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}

.navBar__menu--icons:hover{
    cursor: pointer;
    transition: .3s;
    filter: drop-shadow(1px 2px 2px #f6dafab3);
}



/* HOME PAGE */

.home__content{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}


/* MAIN COMPONENT */

.main__container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}



.main__button{
    position: absolute;
    right: 80px;
}

.main__content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;

}

.main__tittle{
    width: 100%; 
    color: rgb(35, 29, 86);

}

.main__tittle--clicked{
    color: rgb(243, 243, 243);
    text-shadow: 0px 0px 5px rgb(216, 210, 255);
    transition-duration: .2s ;

}


.main__tittle--author{
    font-family: 'Raleway', sans-serif;
    font-size: 5rem;
    display: block;
    margin: 1rem 0 .5rem 0 ;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.339));
    transition-duration: .2s ;
}


.main__tittle--welcome{
    color: rgb(35, 29, 86);
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.639));
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    transition-duration: .4s ;
}

.main__tittle--welcome--clicked{
    color: rgb(243, 243, 243);
    text-shadow: 0px 0px 5px rgb(216, 210, 255);
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    transition-duration: .4s ;
}

.main__image{
    display: flex;
    justify-content: center;
    margin: 4rem 0;
}

.main__image > img{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    filter: grayscale(1);
    opacity: .1;
    border-radius: 100px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.639));
    transition-duration: .4s ;
}

.main__image--clicked > img{
    filter: none;
    opacity: 1;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.639));
    transition-duration: .4s ;
}

.scroll-down{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    align-items: flex-end;
    transition-duration: .4s ;
}

.scroll-down svg{
    animation: unset;
    font-size: 50px;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.639));

}

.scroll-down--clicked svg{
    font-size: 50px;
    cursor: pointer;
    animation: myAnim 4s ease .5s infinite normal forwards;
    transition-duration: .4s ;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.639));

}


@keyframes myAnim {
    0%,
    100% {
      transform: translateY(0);
    }
  
    10%,
    30%,
    50%,
    70% {
      transform: translateY(-8px);
    }
  
    20%,
    40%,
    60% {
      transform: translateY(8px);
    }
  
    80% {
      transform: translateY(6.4px);
    }
  
    90% {
      transform: translateY(-6.4px);
    }
  }

  
/* BLOB ANIMATION */

.blob__animation{
    position: absolute;
    width: 300px;
}



/* CARD COMPONENT */
.main__card{
    width: 70vw;
    height: 50vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.main__card--text{
    width: 70vw;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.279);
    border-radius: 10px;
    box-shadow: 2px 5px 5px #53295d;
    color: whitesmoke
}


.main__card--blurry{
    position: absolute;
    width: 70vw;
    height: 50vh;
    background: url('./assets/background-blur.jpg') center center/cover no-repeat;
    border-radius: 5px;
    filter: blur(5px);
    z-index: -1;
    
}

.main__card--blurry:hover{
    filter: blur(1px);
    transition: 1s;
}






/* ABOUT ME PAGE */
.aboutMe__container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    color: #f5f5f5;
}

.aboutMe__container-onetwo{
  width: 100%;
  height: 50vh;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.aboutMe__container-one{
  height: 50vh;
  display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: #f5f5f5;
    transform: rotate(-7deg);
}

.aboutMe__container-two{
  height: 50vh;
  display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: #f5f5f5;
    transform: rotate(7deg);
}

.aboutMe__container-three{
  margin: 2.5rem 0 3rem 0;
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
  text-align: justify;
  text-indent: 1rem;
line-height: 1.5;}

.aboutMe__container h2{
    text-transform: uppercase;
}


.buttons__aboutMe{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}

.buttons__aboutMe div{
  cursor: pointer;
  font-size: 12px;
  padding: .2rem;
  border-radius: 5px;
}

.buttons__aboutMe div:hover{
  background-color: #ffffff2d;

}


.slider{
  filter: drop-shadow(2px 2px 6px rgb(27, 13, 50));
  margin: 1rem 0 ;
}

.slider__content{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}


.slider{
    width: 25rem;
    height: 20rem;
    overflow: hidden;
    border-radius: 10px
}

.img__container{
    width: 100%;
    height: 100%;
    background-color: #7564753b;
}

.slide_active img{
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    background-color: #76338876;
}

.slide_active p {
    color: white;
    text-transform: uppercase;
    text-align: center;

}

.slide_active{
    width: 100%;
    height: 100%;
    opacity: 1;
    transition-duration: 1s;
}

.slide_inactive{
    opacity: 0;
    transition-duration: 1s ease;
}

.left-arrow svg{
    margin: 0 2rem 0 0;
    cursor: pointer;
    filter: drop-shadow(2px 2px 2px rgb(27, 13, 50))

}

.right-arrow svg{
    margin: 0 0 0 2rem;
    cursor: pointer;
    filter: drop-shadow(2px 2px 2px rgb(27, 13, 50))
}



/* CARTONNS COMPONENT */
.slider__content--cartoon{
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.cartoons__slider{
  width: 25rem;
  min-height: 27rem;
  overflow: hidden;
  border-radius: 10px
}

.cartoons__container{
  width: 100%;
  height: 100%;
}


.slide_active--cartooon{
  width: 100%;
  height: 100%;
  opacity: 1;
  transition-duration: 1s;
  overflow: visible;

}

.slide_active--cartooon img{
  position: relative;
  bottom: -50px;
  width: 70%;
  object-fit: contain;
  animation: floating 2s linear 0s infinite normal forwards;
}

@keyframes floating {
  0%{
      transform: translate(0px, 0px);
      filter: drop-shadow(0px 2px 1px #2d0c2dcb);
  }
  25%{
       transform: translate(0px, -3px);
       filter: drop-shadow(0px 5px 5px #340d34)
  }
  50%{
      transform: translate(0px, -5px);
      filter: drop-shadow(1px 15px 11px #340d34);
  }
  75% {
     transform: translate(0px, -3px);
      filter: drop-shadow(0px 5px 5px #340d34);
  } 
  100%{
      transform: translate(0px, 0px);
      filter: drop-shadow(0px 1px 1px #340d34);
  }
}

.slide_inactive--cartooon{
  opacity: 0;
  transition-duration: 1s ease;
}

.left-arrow--cartoon svg{
  cursor: pointer;
  filter: drop-shadow(2px 2px 2px rgb(27, 13, 50))

}

.right-arrow--cartoon svg{
  cursor: pointer;
  filter: drop-shadow(2px 2px 2px rgb(27, 13, 50))
}

.card__container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.cartoon__text{
  margin: 0 .5rem 1rem .5rem;
  padding: 3.5rem .5rem 0 .5rem;
  max-width: 18rem;
  min-height: 10rem;
  border-radius: 10px;
  background-color: #7564753b;
  z-index: -1;
  overflow: hidden;
  box-shadow: 2px 2px 5px #3e143e;
  color: white;
}

.cartoon__tittle{
  text-align: center;
  text-transform: uppercase;
  padding-bottom: .5rem;
}

.cartoon__bodyText {
  text-align: justify;
}


/* SKILLS ME PAGE */
.skills__container{
    width: 100%;
    height: 100vh;
}

/* CONTACT ME PAGE */
.contact__container{
    width: 100%;
    height: 100vh;
}



/* LOADER COMPONENT */
/* .cs-loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  .cs-loader-inner {
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    width: calc(100% - 200px);
    color: #FFF;
    padding: 0 100px;
    text-align: center;
  }
  
  .cs-loader-inner label {
    font-size: 20px;
    opacity: 0;
    display:inline-block;
  }
  
  @keyframes lol {
    0% {
      opacity: 0;
      transform: translateX(-300px);
    }
    33% {
      opacity: 1;
      transform: translateX(0px);
    }
    66% {
      opacity: 1;
      transform: translateX(0px);
    }
    100% {
      opacity: 0;
      transform: translateX(300px);
    }
  }
  
  @-webkit-keyframes lol {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-300px);
    }
    33% {
      opacity: 1;
      -webkit-transform: translateX(0px);
    }
    66% {
      opacity: 1;
      -webkit-transform: translateX(0px);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateX(300px);
    }
  }
  
  .cs-loader-inner label:nth-child(6) {
    -webkit-animation: lol 3s infinite ease-in-out;
    animation: lol 3s infinite ease-in-out;
  }
  
  .cs-loader-inner label:nth-child(5) {
    -webkit-animation: lol 3s 100ms infinite ease-in-out;
    animation: lol 3s 100ms infinite ease-in-out;
  }
  
  .cs-loader-inner label:nth-child(4) {
    -webkit-animation: lol 3s 200ms infinite ease-in-out;
    animation: lol 3s 200ms infinite ease-in-out;
  }
  
  .cs-loader-inner label:nth-child(3) {
    -webkit-animation: lol 3s 300ms infinite ease-in-out;
    animation: lol 3s 300ms infinite ease-in-out;
  }
  
  .cs-loader-inner label:nth-child(2) {
    -webkit-animation: lol 3s 400ms infinite ease-in-out;
    animation: lol 3s 400ms infinite ease-in-out;
  }
  
  .cs-loader-inner label:nth-child(1) {
    -webkit-animation: lol 3s 500ms infinite ease-in-out;
    animation: lol 3s 500ms infinite ease-in-out;
  } */

/* CALL TO ACTION COMPONENT */


.button__container{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: .5rem;
    width: 3rem;
    height: 5rem;
    font-weight: 600;
    background-color: #161616;
    color: rgb(196, 55, 177); ;
    border-radius: 5px;
    text-align: center;
    animation: brighting 2s linear 0s infinite normal forwards;
}

.button__container--clicked{
    color: #000000; ;
    background-color: rgb(144, 40, 130);
    align-items: flex-start;
}

.button__container p{
    font-size: .5rem;
    padding: .2rem;
    background-color: #513838;
    border-radius: 50px;
}


  

